<!-- Body -->
<div class="about-me-container">
  <div class="about-me-summary">
    <p class="hello-message"><strong>Hello,</strong> my name is Olivia Gosselin.</p>
    <p class="summary-message">
      I am a front end web developer eager to become full stack. I was first introduced to
      the world of computer science my sophomore year of college at the University of Michigan in Engineering 101.
      Little did I know that my fascination with this class would lead me to graduate with a degree in Computer Science
      and a career in technology. Today, I am working at Accenture Interactive as a Senior Front End Web Developer out
      of New York City with a specialization in Angular.<br><br>

      It was a tumultuous journey leading up to my role as a web developer but it was my perseverance that lead me to
      where I am today. When I hear the word comfortable, I cringe. What's more important to me is, what's next? If the
      world of web developer were to have a mind of it's own, I think it would think similarly to me. Web development
      is fast-paced, exciting, creative, logical, and all of that combined is why I love it. </p>
  </div>
  <div class="profile-picture-container">
    <img class="profile-picture" src="../assets/profile-picture.jpg" alt="Image of Olivia Gosselin" />
  </div>
</div>