.about-me-container {
    display: flex;
    flex-direction: row;
    height: 600px;
    justify-content: space-between;
}

.about-me-summary {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 50%;
}

.hello-message {
    font-size: 24px;
}

.summary-message {
    font-size: 13px;
    padding: 0 40px 0 0;
    margin: 0;
}

.profile-picture-container {
    width: 35%;
    align-self: flex-end;
}

.profile-picture {
    max-width: 100%;
    height: auto;
}