<div class="contact-outer-container">
  <div class="contact-header">Let's Work Together</div>

  <div class="contact-inner-container">
    <div class="contact-picture-container">
      <img class="contact-picture" src="../assets/desk-picture.jpg" alt="Image of Olivia Gosselin" />
    </div>
    <div class="contact-form-container">
      <div class="message-ctn">
            <div @myInsertRemoveTrigger class="message-ctn__message message-ctn__message--success" *ngIf="submissionResponse === 'success'">Thank you! Your form was submitted successfully. </div>
            <div @myInsertRemoveTrigger class="message-ctn__message message-ctn__message--error" *ngIf="submissionResponse === 'error'">There were some problems with your form submission. Please try again. </div>
      </div>
      <div [formGroup]="contactForm" class="contact-form">
        <div class="grouped-form-item">
          <div class="form-item form-item--input-ctn" id="first">
            <label for="firstName">First Name</label>
            <input type="text" class="form-item__input" 
            [class.form-item__input--valid]="contactForm.controls.firstName.valid"
            [class.form-item__input--invalid]="contactForm.controls.firstName.dirty && contactForm.controls.firstName.errors?.required" formControlName="firstName">
            <span class="form-item__error" *ngIf="contactForm.controls.firstName.dirty && contactForm.controls.firstName.errors?.required">First Name is required.</span>
          </div>

          <div class="form-item form-item--input-ctn" id="last">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-item__input"
            [class.form-item__input--valid]="contactForm.controls.lastName.valid"
            [class.form-item__input--invalid]="contactForm.controls.lastName.dirty && contactForm.controls.lastName.errors?.required" formControlName="lastName">
            <span class="form-item__error" *ngIf="contactForm.controls.lastName.dirty && contactForm.controls.lastName.errors?.required">Last Name is required.</span>
          </div>
        </div>
        <div class="form-item form-item--input-ctn">
          <label for="email">Email</label>
          <input type="text" class="form-item__input"
          [class.form-item__input--valid]="contactForm.controls.email.valid" 
          [class.form-item__input--invalid]="contactForm.controls.email.dirty && contactForm.controls.email.errors" formControlName="email">
          <span class="form-item__error" *ngIf="contactForm.controls.email.dirty && contactForm.controls.email.errors?.required">Email is required.</span>
          <span class="form-item__error" *ngIf="contactForm.controls.email.value && contactForm.controls.email.errors?.email">Email must be a valid email address.</span>
        </div>

        <div class="form-item form-item--input-ctn">
          <label for="subject">Subject</label>
          <input type="text" class="form-item__input"
          [class.form-item__input--valid]="contactForm.controls.subject.valid"
          [class.form-item__input--invalid]="contactForm.controls.subject.dirty && contactForm.controls.subject.errors?.required" formControlName="subject">
          <span class="form-item__error" *ngIf="contactForm.controls.subject.dirty && contactForm.controls.subject.errors?.required">Subject is required.</span>
        </div>

        <div class="form-item form-item--textarea-ctn">
          <label for="message">Message</label>
          <textarea class="form-item__input"
          [class.form-item__input--valid]="contactForm.controls.message.valid"
          [class.form-item__input--invalid]="contactForm.controls.message.dirty && contactForm.controls.message.errors?.required" formControlName="message"></textarea>
          <span class="form-item__error" *ngIf="contactForm.controls.message.dirty && contactForm.controls.message.errors?.required">Message is required.</span>
        </div>

      </div>
      <button type="submit" [class.green-btn--loading]="isLoading" class="green-btn" id="submit-button" [disabled]="!contactForm.valid" (click)="sendEmail()">{{ isLoading ? '' : 'Submit'}}</button>
    </div>

  </div>
</div>