@import '../../../styles/variables.scss';

.contact-outer-container {
}

.contact-inner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-header {
  font-size: 24px;
  padding-top: 15px;
}

.contact-picture-container {
  width: 40%;
  margin-top: 55px;
}

.contact-form-container {
  width: 50%;
  align-self: center;
}

.contact-picture {
  max-width: 100%;
  height: auto;
  border-radius: 3px;
}


.message-ctn {
    height: 40px; 
    width: 100%;
    border-radius: 3px;
}

.message-ctn__message {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0px 8px;
    border-radius: 3px;
    font-family: "Varela", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-size: 13px;
    border-radius: 3px;
}

.message-ctn__message--success {
    border: 1px solid $dark-green-color;
    border-left: 10px solid $dark-green-color;
    color: $dark-green-color;

}

.message-ctn__message--error {
    border: 1px solid $orange-color;
    border-left: 10px solid $orange-color;
    color: $orange-color;

}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.grouped-form-item {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-between;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.form-item--input-ctn {
  height: 64px;
}

.form-item--textarea-ctn {
  height: 130;
}

.form-item__error {
  font-size: 11px;
  color: $orange-color;
}

.form-item__input {
  border-left: 2px solid transparent;
}

.form-item__input--invalid {
  border-left: solid 2px $orange-color;
}

.form-item__input--valid {
  border-left: solid 2px $dark-green-color;
}

#submit-button {
  margin-top: 30px;
  width: 75px;
}

#first {
  flex-grow: 1;
  margin-right: 5px;
}

#last {
  flex-grow: 1;
  margin-left: 5px;
}

.green-btn--loading:after {
    pointer-events: none;
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: '\2026'; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}
