@import 'variables.scss';

* {
    box-sizing: border-box;
}

*:before, *:after {
    box-sizing: border-box;
}

html, body {
    font-family: "Varela", "HelveticaNeue", "Helvetica Neue", sans-serif;
    height: 100%;
    position: relative;
    margin: 0px;
}

button {
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
    font-family: "Varela", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-size: 13px;
    outline: none;
    cursor: pointer;
    color: $white-color;
    border: 2px solid $orange-color;

    &:hover {
        background-color: $dark-orange-color;
        border: 2px solid $dark-orange-color;
    }

    &:disabled {
        pointer-events: none;
        opacity: 0.6
    }
}

.orange-btn {
    background-color: $orange-color;
    border: 2px solid $orange-color;

    &:hover {
        background-color: $dark-orange-color;
        border: 2px solid $dark-orange-color;
    }
}

.green-btn {
    background-color: $dark-green-color;
    border: 2px solid $dark-green-color;

    &:hover {
        background-color: $darker-green-color;
        border: 2px solid $darker-green-color;
    }
}

input {
    border: none;
    outline: none;
    font-family: "Varela", "HelveticaNeue", "Helvetica Neue", sans-serif;
    height: 28px;
    text-indent: 4px;
    background-color: $light-gray-color;
}

textarea {
    border: none;
    outline: none;
    font-family: "Varela", "HelveticaNeue", "Helvetica Neue", sans-serif;
    text-indent: 4px;
    background-color: $light-gray-color;
    resize: none;
    padding: 4px;
    height: 185px
}

label {
    font-size: 13px;
    margin-bottom: 3px;
}