* {
    box-sizing: border-box;
}

*:before, *:after {
    box-sizing: border-box;
}

html, body {
    /* background-color: rgb(228, 238, 240);*/
    font-family: "Varela", "HelveticaNeue", "Helvetica Neue", sans-serif;
    height: 100%;
    position: relative;
    margin: 0px;
}

button {
    padding: 5px 10px;
    border-radius: 3px;
    background-color: orange;
    border: none;
    font-family: "Varela", "HelveticaNeue", "Helvetica Neue", sans-serif;
    font-size: 13px;
    outline: none;
    cursor: pointer;
    color: white;
    border: 2px solid orange;
}

button:hover {
    background-color: darkorange;
    border: 2px solid darkorange;
}

input {
    border: none;
    outline: none;
    font-family: "Varela", "HelveticaNeue", "Helvetica Neue", sans-serif;
    height: 28px;
    text-indent: 4px;
    background-color: #f2f2f2;
}

textarea {
    border: none;
    outline: none;
    font-family: "Varela", "HelveticaNeue", "Helvetica Neue", sans-serif;
    text-indent: 4px;
    background-color: #f2f2f2;
    resize: none;
    padding: 4px;
    height: 185px
}

label {
    font-size: 13px;
    margin-bottom: 3px;
}